{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'application/styles.css' %}">
    <title>Modifier Achat</title>
</head>
<body>
    <nav class="nav-agriculture">
        <a href="{% url 'index' %}">Accueil</a>
        <a href="{% url 'centre_menu' centre_id=1 %}">Centre 1</a>
        <a href="{% url 'centre_menu' centre_id=2 %}">Centre 2</a>
        <a href="{% url 'centre_menu' centre_id=3 %}">Centre 3</a>
        <a href="{% url 'analyse_ventes' %}">Anylse de ventes </a>
        <a href="{% url 'top_fournisseurs' %}">top fournisseur </a>
        <a href="{% url 'ventes_combinees' %}">taux de ventes  </a>
        ventes-combinees/
        
    </nav>
    <h2>Modifier Achat</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer les modifications</button>
    </form>
</body>
</html>