{% load static %}
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'application/styles.css' %}">
    <title>Salaire Mensuel</title>
</head>
<body> <nav class="nav-agriculture">
    <a href="{% url 'index' %}">Accueil</a>
    <a href="{% url 'centre_menu' centre_id=1 %}">Centre 1</a>
    <a href="{% url 'centre_menu' centre_id=2 %}">Centre 2</a>
    <a href="{% url 'centre_menu' centre_id=3 %}">Centre 3</a>
    <a href="{% url 'analyse_ventes' %}">Anylse de ventes </a>
    <a href="{% url 'top_fournisseurs' %}">top fournisseur </a>
    <a href="{% url 'ventes_combinees' %}">taux de ventes  </a>
    ventes-combinees/
    
</nav>
    <h1>Salaire Mensuel pour {{ employe.nome }} {{ employe.prenome }}</h1>
    <p>Salaire quotidien: {{ employe.salairee }}</p>
    <p>Retenues pour les absences: {{ retenues_absences }}</p>
    <p>Total des avances sur salaire: {{ total_avances }}</p>
    <p>Salaire mensuel final: {{ salaire_mensuel }}</p>
</body>
</html>
